<div class="row">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="display-4 text-center" style="font-size: 28px; font-weight: 700;">Roadmap</h4>
            <p class="lead text-center" style="font-size: 14px; font-weight: 300;">Our product roadmap is a high-level strategic plan that outlines the vision, direction, priorities, and progress of a product over time. It highlights key features, initiatives, and milestones planned for future development, helping teams understand what will be built, why it matters, and when it is expected to be delivered. Designed to align stakeholders, guide decision-making, and track long-term goals, a roadmap serves as both a communication tool and an execution framework for bringing a product's vision to life.</p>
        </div>
    </div>
</div>