@font-face {
    font-family: 'gdx';
    src:
            url('gdx.ttf') format('truetype'),
            url('gdx.woff') format('woff'),
            url('gdx.svg#gdx') format('svg');
    font-weight: normal;
    font-style: normal;
}