<div class="block jumbotron jumbotron-fluid" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-12 d-flex">
                <div class="account-nav flex-grow-1">
                    <nav class="navbar main-navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <div class="navbar-brand">
                                <a href="#">
                                    <img src="assets/images/badges/brands/marketplace-newsroom.svg" alt="Newsroom Logo"/>
                                </a>
                            </div>
                
                            <!-- Navbar Item -->
                            <ul class="navbar-nav">
                                <li *ngFor="let link of links" class="nav-item" routerLinkActive="account-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="link.url">{{ link.label }}</a>
                                </li>
                            </ul>
                      </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-12 mt-4 mt-lg-0">
    <router-outlet></router-outlet>
</div>
