<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center" style="font-size: 28px; font-weight: 700;">Terms of Use</h1>
		<p class="lead text-center" style="font-size: 14px; font-weight: 300;">Last Updated on 2/12/2020</p>
    </div>
</div>

<div class="container">
	<p class="legal-paragraph">These Terms of Use set forth the legally binding terms governing your access to and use of this electronic market place to search for data products in different domains. Toyota Motor North America, USA, Inc., <strong>(“TMNA”, "We", "Us", or "Our")</strong> owns and operates RADAR and provides Toyota with access to and use of RADAR. By accessing and using RADAR, you agree to these Terms of Use.</p>
 
	<p class="legal-paragraph">Toyota Motor North America, USA, Inc. (<strong>“TMNA”</strong>) may, at any time, revise these Terms of Use by updating them. To the fullest extent permitted under applicable law, your continued use of RADAR constitutes your agreement to any modified terms, and you should therefore visit the applicable terms to review the current terms from time to time. Furthermore, unless explicitly stated otherwise, any new features or services that augment or enhance RADAR in the future shall be considered part of the RADAR and subject to these Terms of Use.</p>
	 
	<p class="legal-paragraph">Certain applications and functionality accessed through RADAR may require you to agree to additional terms and conditions, policies and disclaimers (collectively, “Additional Terms”), which are hereby incorporated by reference into these RADAR Terms unless expressly set forth otherwise in such Additional Terms. If there is a conflict between these Terms and any Additional Terms, the Additional Terms will control with respect to the applications. <strong>This excludes third party websites which are described more fully in Section 4 below.</strong></p>
	 
	<p class="legal-paragraph">Certain applications and functionality accessed through RADAR may require you to agree to additional terms and conditions, policies and disclaimers (collectively, “<strong>Additional Terms</strong>”), which are hereby incorporated by reference into these RADAR Terms unless expressly set forth otherwise in such Additional Terms. If there is a conflict between these Terms and any Additional Terms, the Additional Terms will control with respect to the applications. <strong>This excludes third party websites which are described more fully in Section 4 below.</strong>
	</p>

	<h5 class="legal-subtitle">2.1 OWNERSHIP AND USE OF RADAR</h5>
	<p class="legal-paragraph">You acknowledge that TMNA owns all right, title, and interest, and/or have a valid right to use and sublicense RADAR and all its content, including, without limitation, all trademarks, service marks, logos and trade names used on RADAR. You acknowledge that RADAR constitutes valuable trade secrets to TMNA. You will use your best efforts to protect RADAR and maintain its confidentiality. You shall make no attempt to, nor permit others to, examine, copy or alter RADAR, except as provided for by the RADAR Terms of Use or as otherwise agreed to by TMNA in writing.</p>
	 
	<p class="legal-paragraph">TMNA grants you a limited, non-exclusive, non-transferable, revocable right and license to access and use RADAR (including the content and Mobile Services (as defined below)) only as required to perform your valid job duties. TMNA retains all rights not expressly granted herein. TMNA may, in its sole discretion, suspend, discontinue or terminate this license to you at any time for any reason. When making use of mobile enabled functionality, this license is limited to a non-transferable license to use certain RADAR functionality on an applicable mobile device that you own or control.</p>
	 
	<p class="legal-paragraph">You may not rent, lease, lend, sell, redistribute or sublicense RADAR or part of RADAR. You may not copy, decompile, reverse engineer, disassemble, attempt to derive the source code of, modify, or create derivative works of RADAR, any updates, or any part thereof.</p>
	 
	<p class="legal-paragraph">TMNA reserves the right at any time and from time to time to modify, suspend, discontinue or permanently cancel any or all of RADAR’s operation, or portions thereof, with or without notice to you. You acknowledge and agree that TMNA will not be liable to you or to any third party for any such modification, suspension, discontinuation or cancellation of any or all of RADAR’s operation.</p>

	<h5 class="legal-subtitle">2.2 RESTRICTIONS ON ACCESSING AND USING RADAR</h5>
	<p class="legal-paragraph">As a condition to accessing and using RADAR in accordance with the license granted to you under these Terms, you agree to comply with the following rules:</p>
	<p><strong>(a) General Obligations to Safeguard Personal Information in RADAR</strong></p>
	<ul>
		<li>
			<p class="legal-paragraph">You shall not use, reproduce, disclose, share, transfer, or retain Personal Information (as defined below) except, in each case, as specifically authorized by these Terms of Use and (i) in accordance with both (a) applicable federal, foreign, international, provincial, state and local laws, rules and regulations; and (b) the standards, policies, procedures, guidelines and recommendation as set forth by TMS.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall limit your access to records and files containing Personal Information to your need to access such Personal Information for performing your job duties.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not share, transfer or permit access to personal information in violation of any applicable website privacy policy disclosures.</p>
		</li>
		<li>
			<p class="legal-paragraph">You expressly acknowledge that all information in RADAR, including personal information, is confidential and proprietary and that you (i) shall not disclose such information in any form to any person or entity, unless approved by TMNA, and (ii) shall not use such information for “data mining”.</p>
		</li>
	</ul>

	<p><strong>(b) General Obligations to Safeguard RADAR and Information in RADAR</strong></p>
	<ul>
		<li>
			<p class="legal-paragraph">You shall assign and select passwords in accordance with the requirements set forth by TMNA.<p>
		</li>
		<li>
			<p class="legal-paragraph">You shall yourselves assign passwords that are reasonably designed to maintain the security of the access controls to the system.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not share, obtain or use, or attempt to share, obtain or use, any third-party RADAR related access codes or passwords.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not share your access to the system with any other person. You shall not enable access to any data in RADAR on behalf of any individual or third party in violation of these Terms of Use.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not access or use, or attempt to access or use, data owned by any third party other than the party authorizing your access for valid business purposes, except as specifically authorized in writing by TMNA.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall immediately notify TMNA of any known or potential breach of the Terms of Use, as soon as you become aware of such.</p>
		</li>
		<li>
			<p class="legal-paragraph">To the best of your knowledge, all information and data provided by you with regards to RADAR or entered into the RADAR systems shall be complete and accurate.</p>
		</li>
	</ul>

	<p><strong>(c) General Obligations Concerning Use of RADAR</strong></p>
	<ul>
		<li>
			<p class="legal-paragraph">You agree to comply with all policies and procedures, manuals, marketing letters, financial services bulletins, letters, and other instructions from TMNA with regards to your access to and/or use of RADAR.<p>
		</li>
		<li>
			<p class="legal-paragraph">You are authorized to access RADAR and your use of RADAR is in accordance with the valid authorization.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not integrate or automate use of RADAR using any integration methods that are not expressly approved by TMNA.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not access or use RADAR for any unauthorized, fraudulent or malicious purpose.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not access or use RADAR in a manner that could damage, disable, overburden or impair the RADAR systems.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not use or attempt to use RADAR in such a manner as to interfere unreasonably with the use of RADAR by one or more of the authorized users of RADAR.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not use or attempt to use any methods to access or make use of RADAR that are not authorized by TMNA, including, but not limited to, screen scraping and scripting or any other process that could result in the unauthorized access to RADAR or negatively impact the performance of the RADAR System.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not enable or permit (i) any additional third-party integration of; (ii) third-party modification of; (iii) creation of derivative use functionality for; or (iv) creation of third-party solutions for any of the RADAR systems and applications.<p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not enable or permit (i) any additional third-party integration of (ii) third party modification of; (iii) creation of derivative use functionality for; or (iv) creation of third-party solutions for purposes of enabling or permitting extraction or transmission of data stored in RADAR.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not modify, copy, create derivative works of, or alter RADAR without the express prior written consent of TMNA.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not frame or use framing techniques to enclose any part of RADAR without TMNA’s prior written consent.</p>
		</li>
		<li>
			<p class="legal-paragraph">You shall not link or “deep link” to, frame, or otherwise, reproduce any of RADAR without our prior consent.</p>
		</li>
		<li>
			<p class="legal-paragraph">In addition to the other cumulative remedies set forth in these Terms of Use, you agree that TMNA, may, without prior notice, immediately take any action deemed necessary or appropriate, up to and including, denial, disabling, deactivation of your access to RADAR.</p>
		</li>
		<li>
			<p class="legal-paragraph">In addition, you agree to comply with all applicable laws, regulations and other legal requirements relating to your access to and use of RADAR.</p>
		</li>
	</ul>
</div>