.angular/
/dist/
.prerelease-counter.json

# Node.js dependencies
/node_modules/

# Optional: npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist/

# OS files
.DS_Store
Thumbs.db