<!-- Video Source -->
<section class="showcase" style="position: relative; bottom: 4px; border-top: 0px;">
    <header>
        <h2 class="logo">
            <small style="font-size: 16px; font-weight: 300;">2026 Global SWARM</small><br>HACKATHON
        </h2>
    </header>
    <video src="assets/videos/hackathon.mp4" muted loop autoplay></video>
    <div class="text">
        <h2>Never Stop</h2> 
        <h3>Exploring Tech</h3>
        <h2>Discover The New</h2>
        <p style="margin-bottom: 8px"><strong>2026 SWARM Hackathon Team Captain Registration Form</strong></p>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=HAox6bjhTEymn28o8wj3sh5jzLHzUBNFusmhu2GxoctUOE1XTEFUR0ZEVko3NkNBNzJETlJFU0dWVS4u " target="_blank" style="margin-right: 16px;">Register</a>
        <a href="assets/docs/public/2023_SWARM_Hackathon_FAQs.pdf" download="2023_SWARM_Hackathon_FAQs">Download 2026 SWARN Hackathon FAQ</a>
    </div>
    <ul class="social">
        <li><img src="assets/images/toyota/FullToyota.svg" style="width: 100%; max-width: 70px; margin-right: 16px;">   |   </li>
        <li><img src="assets/images/toyota/OneTech.svg" style="width: 100%; max-width: 58px;margin-left: 16px; margin-right: 16px;">   |   </li>
        <li><img src="assets/images/toyota/ToyotaConnected.svg" style="width: 100%; max-width: 50px;margin-left: 16px; margin-right: 16px;"></li>
    </ul>
</section>

<div class="container-fluid" style="margin-top: 50px;">
    <p class="text-center"><small><strong>SAVE THE DATE</strong></small></p>
    <h1 class="text-center">Will be Announced Soon</h1><br>
    <p class="text-center"><small><strong>LOCATION</strong></small></p>
    <h1 class="text-center">TMNA's North American Headquarters<br><p style="font-size: 32px; font-weight: bold">Plano, TX</p></h1>
<!--    <ul class="text-center" style="font-size: 16px; font-weight: 400; padding: 20px 400px;list-style: none; line-height: 32px;">-->
<!--        <li>•   Similar to last year... but better!</li>-->
<!--        <li>•   Multiple teams of six(6) individuals from Toyota Connected North America, TMNA Connected Technologies, and TMNA OneTech.</li>-->
<!--        <li>•   One (1) team of six (6) individuals from each invited global Toyota group company.</li>-->
<!--        <li>•   All travel costs (airfare, vehicles, hotels) the responsibility of each participating organization. Host orgs will support with block of hotel rooms near the event venue.</li>-->
<!--        <li>•   All food and engagement activities provided by hostnorganizations from Tuesday morning, 10/17 – lunch on Thursday, 10/19</li>-->
<!--        <li>•   Opening Ceremonies and Hackathon kickoff the morning of Tuesday, 10/17</li>-->
<!--        <li>•   Final Round, Judging, Awards, and Closing Ceremonies the afternoon of Thursday, 10/19</li>-->
<!--    </ul>-->
</div>
<div class="container-fluid" style="margin-top: 40px;">
    <h1 class="text-center">Hackathon Challenges</h1>
    <p class="text-center" style="font-size: 14px; font-weight: 300; padding: 20px 400px;">Teams will develop/code in an overnight, in-person competition that addresses one of the hackathon challenges below. Teams can begin researching and developing their project immediately; however, the majority of coding and presentation must be completed onsite during the competition.</p>
<!--    <div class="col-lg-3 col-md-6 col-sm-12" style="float: left;">-->
<!--        <div class="col-12" style="padding: 20px; margin: 20px; background: #f9f9f9; min-height: 269px;">-->
<!--            <img class="center" src="assets/images/badges/icons/brain.svg" style="margin-bottom: 20px; max-width: 64px;">-->
<!--            <h3 class="text-center">Generative Al Tech</h3>-->
<!--            <p class="text-center">Ideas to move Toyota forward with Chat GPT/LLM, Stable Diffusion, etc.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-lg-3 col-md-6 col-sm-12" style="float: left;">-->
<!--        <div class="col-12" style="padding: 20px; margin: 20px; background: #f9f9f9; min-height: 269px;">-->
<!--            <img class="center" src="assets/images/badges/icons/web3.svg" style="margin-bottom: 20px; max-width: 64px;">-->
<!--            <h3 class="text-center">Web 3 Tech</h3>-->
<!--            <p class="text-center">Metaverse, AR/VR or NFT</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-lg-3 col-md-6 col-sm-12" style="float: left;">-->
<!--        <div class="col-12" style="padding: 20px; margin: 20px; background: #f9f9f9; min-height: 269px;">-->
<!--            <img class="center" src="assets/images/badges/icons/security-shield.svg" style="margin-bottom: 20px; max-width: 64px;">-->
<!--            <h3 class="text-center">Cybersecurity</h3>-->
<!--            <p class="text-center">Create a generative-Al interactive phishing bot that can conduct interactive phishing campaigns leveraging generative Al to hold "human-like" back-and-forth conversations</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-lg-3 col-md-6 col-sm-12" style="float: left;">-->
<!--        <div class="col-12" style="padding: 20px; margin: 20px; background: #f9f9f9; min-height: 269px;">-->
<!--            <img class="center" src="assets/images/badges/icons/code-magic.svg" style="margin-bottom: 20px; max-width: 64px;">-->
<!--            <h3 class="text-center">Open Innovation</h3>-->
<!--            <p class="text-center">Ideas to move Toyota forward using any technology. <strong>Focus areas:</strong> Electric Vehicles, enhancing the digital customer experience, or generating new-->
<!--                business ideas/revenue streams.</p>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row" style="padding: 100px 80px;">
        <p class="alert text-center" style="margin-bottom: 0px; border-radius: 8px;"><strong style="font-size: 16px;"># Subject to change</strong><br>* Must be revenue generating and must have a business case submitted 1 month before the event as the committee will be down-selecting the ideas due to limited space in the competition.</p>
    </div>
</div>

<section>
    <div class="wrapper">
        <div class="container-fluid">
            <h1 class="text-center">Global SWARM Hackathon FAQ</h1>
            <p class="text-center">Attached you will find an FAQ sheet to help answer any questions or concerns you may have about this year’s SWARM Hackathon. Please reach out to <a href="mailto:ToyotaSWARM@toyota.com?Subject=Inquiry%20for%202023%20Global%20SWARM%20Hackathon" target="_blank"><strong>ToyotaSWARM@toyota.com</strong></a> should you have any further questions, and we look forward to seeing you at this year’s event! </p>
            <a class="btn btn-primary btn-md" href="assets/docs/public/2023_SWARM_Hackathon_FAQs.pdf" download="2023_SWARM_Hackathon_FAQs" style="padding: 7px;">DOWNLOAD FAQ</a>
        </div>
    </div>
</section>

<section>
    <div class="footer">
        <p class="text-center"><img src="assets/images/hackathon/swarm-hackathon.png" style="width: 100%; max-width: 128px;"></p>
        <p class="text-center" style="font-size: 10px; color: #000;">Hosted By:</p>
        <ul class="social2 text-center" style="margin-top: 10px;">
            <li><img src="assets/images/toyota/FullToyota-dark.svg" style="width: 100%; max-width: 72px; margin-right: 16px;">   |   </li>
            <li><img src="assets/images/toyota/OneTech-dark.svg" style="width: 100%; max-width: 72px;margin-left: 16px; margin-right: 16px;">   |   </li>
            <li><img src="assets/images/toyota/ToyotaConnected-dark.svg" style="width: 100%; max-width: 54px;margin-left: 16px; margin-right: 16px;"></li>
        </ul>
    </div>
</section>

