<!-- <div class="container-fluid">

</div> -->
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="col-lg-12 mt-6">
            <!-- <div class="col-lg-3 left">
                <h5>Product Detalis</h5>
            </div> -->
            <div class="col-lg-2 left">
                <h5>Requirements</h5>
                <ul class="requirements">
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Platform</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Platform</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>TDSP</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>TDSP</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>TDSP Option</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>TDSP Option</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Data Domain</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Data Domain</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>User Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>User Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>User/App Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>User/App Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>System Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>System Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Mainframe Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Mainframe Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>API Name</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>API Name</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Data Warehouse/Mart</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Data Warehouse/Mart</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Gateway Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Gateway Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Oracle Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Oracle Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Database/Schema</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Database/Schema</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Table Name(s)</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Table Name(s)</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Environment</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Environment</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Data Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Data Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Request Description</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Request Description</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Intended Use</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Intended Use</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Sensitive PI</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Sensitive PI</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>PII Access</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>PII Access</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>PII Explanation</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>PII Explanation</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Type of Work</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Type of Work</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>3rd Party Vendor</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>3rd Party Vendor</strong>
                        </p>
                    </li>
                    <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Terms of Use</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Terms of Use</strong>
                        </p>
                    </li>
                    <!-- <li>
                        <p class="text-danger validation-margin text-validation">
                            <span class="mr-6">
                                <i class="ri-prohibited-line text-danger icon-validation"></i>
                            </span>
                            <strong>Platform</strong>
                        </p>
                        <p class="text-success validation-margi text-validation">
                            <span class="mr-6">
                                <i class="ri-check-fill text-success icon-validation"></i>
                            </span>
                            <strong>Platform</strong>
                        </p>
                    </li> -->        
                </ul>
            </div>
            <div class="col-lg-10 left">
                <div class="row">
                    <h5>Request Access for:</h5>
                </div>

                <div class="col-12">
                    <form [formGroup]="form" #productForm="ngForm">
                        <div class="form-floating mt-3">
                            <!-- <app-people-finder></app-people-finder> -->
                            <input type="text" class="form-control" formControlName="v_dar_objectid_reqfor" ngModel="{{ appSvc?.userData?.id }}" [disabled]="true">
                            <label for="Person Needing Access" class="control-label"><span class="text-danger">*</span> Object ID Of The Person Needing Access</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="v_dar_workdayID" ngModel="{{ appSvc?.userData?.employeeId }}" [disabled]="true">
                            <label for="name" class="control-label"><span class="text-danger">*</span> Workday ID of the person needing access</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="v_dar_dm_version" ngModel="Version: {{currentApplicationVersion}}" [disabled]="true">
                            <label for="Application Build Version">Build Version</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="v_dar_objectid_createdby" ngModel="{{ appSvc?.userData?.id }}" [disabled]="true">
                            <label for="floatingInput"><span class="text-danger">*</span> Request Created By</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="productName" [ngModel]="product.name" [disabled]="true">
                            <label for="Product Name"><span class="text-danger">*</span> Product Name</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="quantity" value="1" [disabled]="true">
                            <label for="Product Quantity"><span class="text-danger">*</span> Product Quantity</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="companyName" ngModel="{{ appSvc?.userData?.companyName }}" [disabled]="true">
                            <label for="Company Name"><span class="text-danger">*</span> Company Name</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="v_dar_userType" value="TMNA User" [disabled]="true">
                            <label for="User Type"><span class="text-danger">*</span> User Type</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" formControlName="v_dar_accessType" value="User Requested Access (Individual is directly accessing the data)" [disabled]="true">
                            <label for="Individual/Application Access Type"><span class="text-danger">*</span> Individual/Application Access Type</label>
                        </div>

                        <div class="form-floating mt-3" id="organizationName">
                            <input type="text" class="form-control" formControlName="v_dar_organization" value="TMNA" [disabled]="true">
                            <label for="Organization Name"><span class="text-danger">*</span> Organization Name</label>
                        </div>

                        <div class="form-floating mt-3" id="organizationName">
                            <input type="text" class="form-control" formControlName="v_dar_organization" value="TFS" [disabled]="true">
                            <label for="Organization Name"><span class="text-danger">*</span> Organization Name</label>
                        </div>

                        <div class="form-floating mt-3" id="organizationName">
                            <input type="text" class="form-control" formControlName="v_dar_organization" value="MTMUS" [disabled]="true">
                            <label for="Organization Name"><span class="text-danger">*</span> Organization Name</label>
                        </div>

                        <div class="form-floating mt-3" id="organizationName">
                            <input type="text" class="form-control" formControlName="v_dar_organization" value="Woven Planet" [disabled]="true">
                            <label for="Organization Name"><span class="text-danger">*</span> Organization Name</label>
                        </div>

                        <div class="form-floating mt-3" id="organizationName">
                            <input type="text" class="form-control" formControlName="v_dar_organization" value="Toyota Connected" [disabled]="true">
                            <label for="Organization Name"><span class="text-danger">*</span> Organization Name</label>
                        </div>

                        <div class="form-floating mt-3" id="organizationName">
                            <input type="text" class="form-control" formControlName="v_dar_organization" value="Toyota Motors Corporation" [disabled]="true">
                            <label for="Organization Name"><span class="text-danger">*</span> Organization Name</label>
                        </div>

                        <div class="form-floating mt-3" id="ADGroup" id="ADGroup">
                            <input class="form-control" formControlName="v_dar_ad_group" value="No" >
                            <label for="AD Group">AD Group</label>
                        </div>

                        <div class="form-floating mt-3" id="Platform">
                            <select class="form-select" formControlName="v_dar_platform">
                                <option value="" selected>Choose A Platform</option>
                                <option value="API (EIG Application Support)">API (EIG Application Support)</option>
                                <option value="TBDP (IRM, PASA, C360, Q360, IRM-Pricing, etc.)">TBDP (IRM, PASA, C360, Q360, IRM-Pricing, etc.)</option>
                                <option value="Other">Other</option>
                            </select>
                            <label for="Platform List" class="control-label required"><span class="text-danger">*</span> Platforms</label>

                            <div id="route-identifiers">
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="10" [disabled]="true">
                                    <label for="float-left col-6">My SQL: Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="11" [disabled]="true">
                                    <label for="float-left col-6">PostgreSQL: Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="9" [disabled]="true">
                                    <label for="float-left col-6">SQL: Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="4" [disabled]="true">
                                    <label for="float-left col-6">API (EIG Application Support): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="3" [disabled]="true">
                                    <label for="float-left col-6">IRM Pricing(No): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">        
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="2" [disabled]="true">
                                    <label for="float-left col-6">IRM Pricing(Yes): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">                   
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="6" [disabled]="true">
                                    <label for="float-left col-6">Other: Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">                                   
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="12" [disabled]="true">
                                    <label for="float-left col-6">Cloud (AWS): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">                             
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="13" [disabled]="true">
                                    <label for="float-left col-6">Cloud (Azure): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="1" [disabled]="true">
                                    <label for="float-left col-6">Data Warehouse/Mart (VDW, FDW, FDM, NDW, etc.): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">        
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="14" [disabled]="true">
                                    <label for="float-left col-6">Gateway Access Request (PowerBI, Tableau, Alteryx, etc): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">      
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="1" [disabled]="true">
                                    <label for="float-left col-6">Oracle (Non-Data Warehouse, MDW, TOMS, Customer Central, etc.): Route Identifier</label>
                                </div>

                                <div class="form-floating mt-3">                    
                                    <input type="text" class="form-control" formControlName="v_custom_routing_rule_identifier" value="1" [disabled]="true">
                                    <label for="float-left col-6">Mainframe (DB2, IMS, CICS, Flat files, Reports, etc.): Route Identifier</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 title-bg mt-3">
                            <h5 class="title-padding">
                                <small style="font-size: 14px;">Please use the following link to understand our Data Domains</small><br>
                                <span><a (click)="open()" class="default request-pointer">Data Domain Help Document</a></span>
                            </h5>
                        </div>

                        <div class="form-floating mt-3">
                            <select class="form-select" formControlName="v_dar_dataDomainSelect">
                                <option value="Customer">Customer</option>
                                <option value="Dealer Identity">Dealer Identity</option>
                                <option value="Dealership">Dealership</option>
                                <option value="Data Governance">Data Governance</option>
                                <option value="Digital Assets">Digital Assets</option>
                                <option value="Finance">Enterprise Corporate Application</option>
                                <option value="Finance">Finance</option>
                                <option value="Identity Access Management">Identity Access Management</option>
                                <option value="Manufacturing">Manufacturing</option>
                                <option value="Manufacturing Parts">Parts</option>
                                <option value="Product Quality">Quality</option>
                                <option value="Research and Development">Research and Development</option>
                                <option value="Service History">Service History</option>
                                <option value="Telematics">Telematics</option>
                                <option value="Vehicles">Vehicles</option>
                                <option value="Warranty">Warranty</option>
                            </select>
                            <label for="Data Domains">Data Domains</label>

                            <div id="control-group">
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="676f978fdbd3081012b941a4059619d7" [disabled]="true">
                                    <label for="float-left col-6">Customer: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="966f578fdbd3081012b941a405961984" [disabled]="true">
                                    <label for="float-left col-6">Dealer Identity: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="966f578fdbd3081012b941a405961984" [disabled]="true">
                                    <label for="float-left col-6">Dealership: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="966f578fdbd3081012b941a405961984" [disabled]="true">
                                    <label for="float-left col-6">Digital Assets:Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="b07f1b8fdbd3081012b941a405961982" [disabled]="true">
                                    <label for="float-left col-6">Finance: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="676f978fdbd3081012b941a4059619d7" [disabled]="true">
                                    <label for="float-left col-6">Identity Access Management: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="55fed34fdbd3081012b941a4059619ec" [disabled]="true">
                                    <label for="float-left col-6">Manufacturing: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="b7ee934fdbd3081012b941a405961915" [disabled]="true">
                                    <label for="float-left col-6">Manufacturing Parts: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="966f578fdbd3081012b941a405961984" [disabled]="true">
                                    <label for="float-left col-6">Product Quality: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="b7ee934fdbd3081012b941a405961915" [disabled]="true">
                                    <label for="float-left col-6">Research and Development: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="676f978fdbd3081012b941a4059619d7" [disabled]="true">
                                    <label for="float-left col-6">Service History: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="b7ee934fdbd3081012b941a405961915" [disabled]="true">
                                        <label for="float-left col-6">Service Parts and Accessories: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="196f178fdbd3081012b941a405961911" [disabled]="true">
                                    <label for="float-left col-6">Telematics: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="966f578fdbd3081012b941a405961984" [disabled]="true">
                                    <label for="float-left col-6">Vehicles: Control Group</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="v_custom_control_group" value="676f978fdbd3081012b941a4059619d7"[disabled]="true">
                                    <label for="float-left col-6">Warranty: Control Group</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mt-3">
                            <select name="requestingID" id="requestingID" class="form-control" formControlName="requesting_id">
                                <option value="Me" selected>For me</option>
                                <option value="User">For someone else</option>
                            </select>
                            <label for="name" class="control-label"><span class="text-danger">*</span>Who are you requesting data access for?</label>
                        </div>

                        <div class="form-floating mt-3">
                            <select name="requestingTDSP" id="TDSP" class="form-control" formControlName="requesting_tdsp_processing">
                                <option value="No" selected>No</option>
                                <option value="Yes">Yes</option>
                            </select>
                            <label for="TDSP"><span class="text-danger">*</span> Is this for TDSP?</label>
                            <!-- <app-field-error-display [displayError]="isFieldValid('v_dar_platform')" errorMsg="Platform is required."></app-field-error-display> -->
                        </div>

                        <div class="form-floating mt-3" id="TDSP Options">
                            <input class="form-control" formControlName="v_dar_ad_group" value="tdspoption + hero.adgroup + podsScreen + selectedPod" [disabled]="true">
                            <label for="TDSP AD Group Selection">TDSP AD Group</label>
                        </div>

                        <!-- <div class="form-floating mt-3">
                            <select *ngIf="podsOptions.length > 0" name="appropriateTDSPPod" id="appropriateTDSPPod" class="form-control" formControlName="appropriateTDSPPod" [(ngModel)]="selectedPod">
                                <option value="" disabled selected>Choose a Pod</option>
                                <option *ngFor="let option of podsOptions" [value]="option.u_primary">{{ option.u_primary }}</option>
                            </select>
                            <label for="name" class="control-label"><span class="text-danger">*</span>Select the appropriate TDSP Pod</label>
                        </div> -->

                        <div class="form-floating mt-3" id="classification">
                            <select class="form-control classification" formControlName="v_dar_accessReqClassification" >
                                <option value="Public" selected="selected">Public</option>
                                <option value="Protected">Protected</option>
                                <option value="Confidential">Confidential</option>
                                <option value="Highly Confidential">Highly Confidential</option>
                                <option value="Personal Information">Personal Information</option>
                                <option value="Legal/Privileged">Legal/ Privileged Information</option>
                            </select>
                            <label for="Data Classification">Data Classification</label>
                        </div>

                        <div class="form-floating mt-3" id="environment">
                            <input class="form-control" formControlName="v_dar_environment" value="Prod" [disabled]="true">
                            <label for="Environment">Environment</label>
                        </div>

                        <div class="form-floating mt-3" id="data_access_type">
                            <input class="form-control" formControlName="v_dat_data_access_type" value="read" [disabled]="true">
                            <label for="Data Access Type">Data Access Type</label>
                        </div>

                        <div class="form-floating mt-3"  id="database_name">
                            <input type="text" class="form-control" formControlName="v_dar_databaseName">
                            <label for="Database Name">Database Name</label>
                        </div>

                        <div class="form-floating mt-3"  id="data_request_description">
                            <textarea class="form-control" formControlName="v_dar_DataReqDescription" row="4"></textarea>
                            <label for="Data Request Description">Data Request Description</label>
                        </div>

                        <button 
                            type="button"
                            class="btn btn-primary btn-lg btn-block mt-6" 
                            [ngClass]="{'btn-loading': addingToCart}" 
                            appClick 
                            (click)="addToCart()">Add to cart
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>