<div class="row">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="display-4 text-center" style="font-size: 28px; font-weight: 700;">Interactive Department Organization Chart</h4>
            <h6>Data Marketplace Team</h6>
            <p class="lead text-center" style="font-size: 14px; font-weight: 300;">You can now interact within our team Organization chart.<br>
                <strong class="text-danger">Please Note:</strong> This chart contains data for our team only.
            </p>
        </div>
    </div>
</div>