<!-- .menu -->
<div class="header-bottom d-lg-show">
    <div class="container-fluid">
        <div class="col-lg-6 float-lg-start">
            <ul class="menu">
                <li>
                    <a routerLink="newsroom">Newsroom</a>
                </li>
                <li>
                    <a routerLink="/pages/hackathon">2026 Hackathon</a>
                </li>
                <li>
                    <a routerLink="/pages/roadmap">Roadmap</a>
                </li>
                <li>
                    <a routerLink="/pages/product-intake">View Product Request</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 float-lg-end">
            <div class="d-flex flex-row-reverse">
                <a class="right-links" href="https://tmna.service-now.com/1ts?id=sc_cat_item&table=sc_cat_item&sys_id=cc4080a81bd60450d96b11b92a4bcbba&recordUrl=com.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1&sysparm_id=cc4080a81bd60450d96b11b92a4bcbba" style="position: relative; top: 6px;" target="_blank">
                    <img src="assets/images/svg/paper-plane.svg" width="28" style="position: relative; top: 4px; margin-right: 3px;">Application Support Request
                </a>
                <a class="right-links" href="pages/ads" style="margin-right: 12px;">
                    <img src="assets/images/svg/box-open.svg" width="38" style="position: relative; top: 4px; margin-right: 1px;">Campaigns
                </a>
            </div>
        </div>
    </div>
</div>
<!--.menu / end -->
