<div class="container-fluid">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 d-flex">
        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="background-color: #363636; padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/fullstack-logo-light.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Marketplace Full Stack Light</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Marketplace Full Stack Light is intended for use on dark backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/fullstack-logo-dark.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Marketplace Full Stack Dark</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Marketplace Full Stack Dark is intended for use on light backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="background-color: #363636; padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/long-logo-light.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Marketplace Full Stack Light</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Marketplace Full Stack Light is intended for use on dark backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/long-logo-dark.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Marketplace Full Stack Dark</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Marketplace Full Stack Dark is intended for use on light backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>
    </div>
    <br>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 d-flex">
        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="background-color: #363636; padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/icon-display/icon-logo-light.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Marketplace Icon Light</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Marketplace Icon Light is intended for use on dark backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/icon-display/icon-logo-dark.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Marketplace Icon Dark</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Marketplace Icon Dark is intended for use on light backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="background-color: #363636; padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/onetech-logo-light.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">OneTech Logo Light</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>OneTech Logo Light is intended for use on dark backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/onetech-logo-dark.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">OneTech Logo Dark</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>OneTech Logo Dark is intended for use on light backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>
    </div>





    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 d-flex">
        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="background-color: #363636; padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/icon-display/de-icon.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Enablement Icon Dark</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Enablement Icon is intended for use on dark backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/icon-display/de-icon.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Enablement Icon Light</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>Data Enablement Icon is intended for use on light backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="background-color: #363636; padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/de-logo-dark.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Enablement Logo Light</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>OneTech Logo Light is intended for use on dark backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>

        <div class="card col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-12 d-flex" style="padding: 14px; border: 0px;">
            <div style="padding: 12px; border-radius: 8px;">
                <img src="assets/images/resources/brands/de-logo-light.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 14px; font-weight:bold;">Data Enablement Logo Dark</h5>
                <p class="card-text" style="font-size:12px;">
                    <span>
                        <span><strong>Size: </strong></span><br>
                        <span><strong>File Format: </strong></span><br>
                        <span><strong>Description: </strong><br>
                            <span>OneTech Logo Dark is intended for use on light backgrounds.</span>
                        </span>
                    </span>
                </p>
                <a [routerLink]="" class="btn btn-primary btn-sm align-right">Download</a>
            </div>
        </div>
    </div>
</div>