/* validation-status.component.scss */
.validation-status {
  padding-top: 8px;
  padding-bottom: 8px;
}

.validation-status .validation-icon {
  vertical-align: middle;
  width: 18px;
  display: inline-block;
  text-align: center;
}