<!-- <p>support works!</p> -->

<div class="body_wrapper">
	<section class="kbDoc-banner-support">
		<div class="banner-content text-center">
			<div class="banner-content-wrapper">
				<h1 class="banner-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;" style="color: #363636;">Documentation & Support Community</h1>
				<p class="banner-description wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" style="color: #fff;"> Find answers, ask questions, and connect with our community of DMDoc users <br> from around the world. </p>
				<div class="banner-search-form-wrapper wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
					<form action="" class="banner-search-form">
						<input type="text" placeholder="Search or ask a question..">
						<button type="submit">
							<i class="icon_search"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
		<ul class="people-image wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar1.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar2.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar3.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar4.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar5.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar6.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar7.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar8.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;" style="width: 100%; max-width: 64px;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar9.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
			<li>
				<img class="wow zoomIn" data-wow-delay="0.4s" src="assets/images/support/avatars/avatar10.jpg" alt="people" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
			</li>
		</ul>
		<ul class="partical-animation wow fadeIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">
			<li class="partical">
				<img data-parallax="{&quot;x&quot;: -180, &quot;y&quot;: 80, &quot;rotateY&quot;:2000}" src="assets/images/support/particles/bnp1.png" alt="partical" style="transform:translate3d(0px, 0.029px, 0px) rotateX(0deg) rotateY(0.029deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 0.029px, 0px) rotateX(0deg) rotateY(0.029deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
			</li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical"></li>
			<li class="partical">
				<img src="assets/images/support/particles/bnp2.png" data-parallax="{&quot;x&quot;: -250, &quot;y&quot;: -160, &quot;rotateZ&quot;:200}" alt="partical" style="transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0.029deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0.029deg) scaleX(1) scaleY(1) scaleZ(1); ">
			</li>
		</ul>
		<div class="bottom-shape">
			<img src="assets/images/support/banner-bottom-shape.png" alt="banner">
		</div>
	</section>
	<section class="related-communities">
		<div class="container">
			<div class="section_title text-center">
				<h2 class="h_title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Select your product to find <br> Related communities </h2>
			</div>
			<div class="communities-boxes">
				<div class="kbDoc-com-box wow fadeInRight" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
					<div class="icon-container">
						<img src="assets/images/support/icons/folder.svg" alt="communinity-box" width="64">
					</div>
					<div class="kbDoc-com-box-content">
						<h3 class="title">
							<a routerLink="support/getting-started"> Getting Started</a>
						</h3>
						<p class="total-post">0 Posts</p>
					</div>
				</div>
				<div class="kbDoc-com-box wow fadeInRight" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInRight;">
					<div class="icon-container">
						<img src="assets/images/support/icons/code.svg" alt="communinity-box" width="64">
					</div>
					<div class="kbDoc-com-box-content">
						<h3 class="title">
							<a routerLink="support/integrations"> Integrations</a>
						</h3>
						<p class="total-post">0 Posts</p>
					</div>
				</div>
				<div class="kbDoc-com-box wow fadeInRight" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInRight;">
					<div class="icon-container">
						<img src="assets/images/support/icons/aws.svg" alt="communinity-box" width="64">
					</div>
					<div class="kbDoc-com-box-content">
						<h3 class="title">
							<a routerLink="support/aws"> AWS System</a>
						</h3>
						<p class="total-post">0 Posts</p>
					</div>
				</div>
				<div class="kbDoc-com-box wow fadeInRight" data-wow-delay="1.1s" style="visibility: visible; animation-delay: 1.1s; animation-name: fadeInRight;">
					<div class="icon-container">
						<img src="assets/images/support/icons/cloud-server.svg" alt="communinity-box" width="64">
					</div>
					<div class="kbDoc-com-box-content">
						<h3 class="title">
							<a routerLink="support/cloud-server"> Cloud Server</a>
						</h3>
						<p class="total-post">0 Posts</p>
					</div>
				</div>
				<div class="kbDoc-com-box wow fadeInRight" data-wow-delay="1.3s" style="visibility: visible; animation-delay: 1.3s; animation-name: fadeInRight;">
					<div class="icon-container">
						<img src="assets/images/support/icons/netlify.svg" alt="communinity-box" width="64">
					</div>
					<div class="kbDoc-com-box-content">
						<h3 class="title">
							<a routerLink="support/quick-integrations"> Integrate Quickly</a>
						</h3>
						<p class="total-post">0 Posts</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>