.badge {
    border-radius: 1.5px !important;
    font-weight: 500 !important;
    padding: 0.25em 0.5em !important;
}

.customDocBadge {
    width: 100%;
    max-width: 80px;
    background-color: #cc3333 !important; 
    border-radius: 4px !important; 
    padding: 0px 10px !important; 
    margin-bottom: 8px !important; 
    color: #fff !important; 
    font-size: 12px !important;
}