<div class="row">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="display-4 text-center" style="font-size: 28px; font-weight: 700;">Leadership</h4>
            <p class="lead text-center" style="font-size: 14px; font-weight: 300;">Our team consists of dedicated individuals and contributors who are experts in their respective fields. Our leadership together have over 50 years of experience combine. We know our business partners & colleagues have a choice in several different applications, so we go out of our way to deliver user-friendly applications.</p>
        </div>
    </div>
</div>

<section id="main">
    <div class="container">
        <div class="card board">
            <div class="imgBx">
                <img src="assets/images/leadership/omar.jpg" alt=""/>
            </div>
            
            <div class="content">
                <div class="contentBx">
                    <h3>Omar Casas <br /><span>Product Owner</span></h3>
                </div>
            </div>
        </div>

        <div class="card events">
            <div class="imgBx">
                <img src="assets/images/leadership/giovanni.jpg" alt=""/>
            </div>
            <div class="content">
                <div class="contentBx">
                    <h3>Giovanni Austin <br /><span>Principle Engineer II</span></h3>
                </div>
            </div>
        </div>

        <div class="card board">
            <div class="imgBx">
                <img src="assets/images/leadership/ajay.jpg" alt=""/>
            </div>
            <div class="content">
                <div class="contentBx">
                    <h3>Ajay Sreedharan<br /><span>Scrum Master</span></h3>
                </div>
            </div>
        </div>
        
        <div class="card corp">
            <div class="imgBx">
                <img src="assets/images/leadership/shannon.jpg" alt=""/>
            </div>
            <div class="content">
                <div class="contentBx">
                    <h3>Shannon Clasen <br /><span>Content Manager</span></h3>
                </div>
            </div>
        </div>
        
        <div class="card corp">
            <div class="imgBx">
                <img src="assets/images/leadership/hali.jpg" alt=""/>
            </div>
            <div class="content">
                <div class="contentBx">
                    <h3>Hali Crutchfield <br /><span> Data Analyst</span></h3>
                </div>
            </div>
        </div>

        <div class="card corp">
            <div class="imgBx">
                <img src="assets/images/leadership/sanju.jpg" alt=""/>
            </div>
            <div class="content">
                <div class="contentBx">
                    <h3>Shivasanajana Narla <br /><span> FullStack Engineer</span></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
    $("input").click(function () {
        document.body.classList.toggle("dark");
    });
    $(".list").click(function () {
        const value = $(this).attr("data-filter");
        if (value == "all") {
        $(".card").fadeIn(400);
        $("li.list.active").removeClass("active");
        $(this).addClass("active");
        } else {
        $("li.list.active").removeClass("active");
        $(this).addClass("active");
        $(".card")
            .not("." + value)
            .fadeOut(400);
        $(".card")
            .filter("." + value)
            .fadeIn(400);
        }
    });
    });
</script> 
