<div class="site-footer">
    <div class="container-fluid">
        <div class="footer-top">
            <div class="request-data" style="padding: 1rem 0rem">
			    <div class="row align-items-center">
                    <div class="col-lg-6">
                        <a routerLink="/category" class="logo-footer">
                            <img src="{{ footer.footerImage }}" alt="logo-footer" style="width:100%; max-width:600px;">
                        </a>
                    </div>
                    <div class="col-lg-6">
						<div class="d-flex d-flex justify-content-center">
							<div style="padding: 12px 0px;">
								<h4 class="widget-title" style="font-size: 22px; text-align: center; margin-bottom: 0px;">{{ footer.footerMessageHeader }}</h4>
								<p style="font-size: 14px; color: #fff; text-align: center; margin-bottom: 0px;">{{ footer.footerMessageSubTitle }}</p>
							</div>
						</div>

                        <form class="d-flex justify-content-center">
							<a routerLink="form/data-access-request" class="btn btn-primary btn-rounded btn-sm ml-2 dark-button" type="submit">Data Access Request</a>
						</form>
                    </div>
                </div>
			</div>
		</div>

        <div class="footer-middle">
			<div class="row">
				<div class="col-lg-4 col-md-6 description">
					<div class="widget widget-info">
						<h1 class="widget-title">{{ footer.header }}</h1>
						<div class="widget-body">
							<p>{{ footer.description }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<app-footer-links header="News & Updates" [links]="[
						{label: 'Org Chart', url: 'pages/organization-chart'},
						{label: 'Leadership', url: 'pages/leadership'},
						{label: 'Newsroom', url: 'newsroom'},
						{label: 'Product Roadmap', url: 'pages/roadmap'},
						{label: 'Global Hackathon', url: 'pages/hackathon'}]">
					</app-footer-links>
				</div>
				<div class="col-lg-2 col-md-6">
					<app-footer-links header="Quick Links" [links]="[
						{label: 'Disclaimer', url: 'site/disclaimer'},
						{label: 'Term of Use', url: 'site/terms-use'},
						{label: 'Data Access Request', url: 'form/data-access-request'},
						{label: 'Unified Data Catalog (TMC)', url: 'https://udc.qh.toyota.co.jp/'},
						{label: 'View Product Request', url: 'pages/product-intake'}]">
					</app-footer-links>
				</div>
				<div class="col-lg-2 col-md-6">
					<app-footer-links header="Help & Support" [links]="[
						{label: 'FAQ', url: 'site/faq'},
						{label: 'Report An Issue', url: 'https://tmna.service-now.com/1ts/?id=1ts_cat_item&sys_id=bb6ff2551ba4081000802f876e4bcb65'}, 
						{label: 'Resource Library', url: '/resources'},
						{label: 'Changelog', url: 'site/changelog'},
						{label: 'GDX CMS Panel', url: 'https://admin.data.toyota.com'}]">
					</app-footer-links>
				</div>
				<div class="col-lg-2 col-md-6">
					<app-footer-links header="Documentation" [links]="[
						{label: 'Data Domains', url: 'docs/protected/domains'},
						{label: 'Data Access Guide', url: 'docs/protected/access-guide'},
						{label: 'Data Access Process Flow', url: 'docs/protected/process-flow'},
						{label: 'Product Sourcing Flow', url: 'docs/protected/dm-flow'},
						{label: 'EIG API Developer FAQ', url: 'https://developer.eig.toyota.com/faq?session=true'}]">
					</app-footer-links>
				</div>
			</div>
			<app-totop></app-totop>
		</div>

        <div class="footer-bottom d-flex justify-content-between">
			<div class="footer-left">
				<span>
					<img src="assets/images/toyota/OneTech.svg" width="56" style="margin-right:8px">
					<img src="assets/images/badges/brands/toyota.svg" width="18" style="margin-right:8px">
					<small style="color:#e1e1e1; font-size: 10px;">{{ footer.powered }}</small>
				</span>
			</div>
			<div class="footer-center">
				<p class="copyright" style="color:#e1e1e1; font-size: 12px; position: relative; top: 4px; right: 72px;">
					<small>©{{ currentYear }} {{ footer.copyright }}</small>
				</p>
			</div>
			<div class="footer-right">
				<div class="social-links">
					<p style="margin-bottom: 0px;color:#e1e1e1">
						<small style="font-size: 10px;">Version: {{currentApplicationVersion}}</small>
					</p>
				</div>
			</div>
		</div>
    </div>
    <app-totop></app-totop>
</div>
