.owl-item .ng-tns-c61-0 {
    width: 115px !important;
}

div .owl-item .ng-tns-c61-1 .ng-trigger .ng-trigger-autoHeight .active .ng-star-inserted{
    width: 50.6px !important;
}

.product-gallery__carousel-item--active {
    box-shadow: 0 0 0 2px #222 inset !important;
}