<ngx-extended-pdf-viewer [src]="docURL" [useBrowserLocale]="true" [textLayer]="true" [showHandToolButton]="true">
</ngx-extended-pdf-viewer>

<!--<ngx-extended-pdf-viewer
  [src]="'assets/docs/protected/DE_Org_Chart.pdf'"
  [showToolbar]="true"
  [showSidebarButton]="true"
  [showFindButton]="true"
  [showPagingButtons]="true"
  [showDrawEditor]="true"
  [showTextEditor]="false"
  [showZoomButtons]="true"
  [showPresentationModeButton]="true"
  [showOpenFileButton]="true"
  [showPrintButton]="true"
  [showDownloadButton]="true"
  [showSecondaryToolbarButton]="false"
  [showRotateButton]="true"
  [showHandToolButton]="true"
  [showScrollingButton]="true"
  [showSpreadButton]="true"
  [showPropertiesButton]="false">
</ngx-extended-pdf-viewer>-->
