
<!-- .topbar -->
<div class="site-header__topbar topbar">
    <div class="topbar__container container-fluid">
        <div class="topbar__row">
            <div class="topbar__item topbar__item--link">
                <p class="welcome-msg">Welcome to Data Marketplace New Site!</p>
            </div>
            <div class="topbar__spring"></div>
            <div class="topbar__item">
                <div class="topbar__item topbar__item--link" style="margin-right: 16px;">
                    <a class="link" routerLink="newsroom">Newsroom</a>
                </div>
                <div class="topbar__item topbar__item--link" style="margin-right: 16px;">
                    <a class="link" routerLink="site/faq">FAQ</a>
                </div>
                <div class="topbar__item topbar__item--link" style="margin-right: 16px;">
                    <a class="link" routerLink="marketplace/order/track-request">Track Request</a>
                </div>
                <div class="topbar__item topbar__item--link" style="margin-right: 16px;">
                    <a class="link" routerLink="site/changelog">Changelog</a>
                </div>
                <div class="topbar__item topbar__item--link" style="margin-right: 16px;">
                    <a class="link" routerLink="site/contact-us">Contact Us</a>
                </div>
                <div class="topbar__item topbar__item--link" style="margin-right: 0px;">
                    <a class="link" routerLink="pages/support">Need Help</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .topbar / end -->

