<div class="site-footer__widget footer-contacts">
    <img src="assets/images/brand/footer-logo.svg">

    <div class="footer-contacts__text" translate>
        FOOTERDESC
    </div>

    <!--<ul class="footer-contacts__contacts">
        <li><i class="footer-contacts__icon fas fa-globe-americas"></i> {{ store.address }}</li>
        <li><i class="footer-contacts__icon far fa-envelope"></i> <a class="footer-link" href="mailto: {{ store.email }}">{{ store.email }}</a></li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> {{ store.phone.join(', ') }}</li>
        <li><i class="footer-contacts__icon far fa-clock"></i> {{ store.hours }}</li>
    </ul>-->
</div>
