.ask-ai-button {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  z-index: 0;
  overflow: hidden;
}

.ask-ai-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(60deg, #ff00cc, #3333ff, #00ffcc, #ffcc00, #ff00cc);
  background-size: 300% 300%;
  animation: gradient-border 5s ease infinite;
  z-index: -1;
  border-radius: 45px;
}

.ask-ai-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #FFF;
  z-index: -1;
  border-radius: 40px;
  transition: opacity 0.2s linear, left 0.3s ease-in;
}

.ask-ai-button:hover::after {
  background: #FFF !important;
  opacity: 0.7;
  transition: opacity 0.2s linear, left 0.3s ease-out;
}

@keyframes gradient-border {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.ask-ai-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #000;
}